@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">好痛苦的作業，我只想回家</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
